<div class="container">
    <div class="side-gap"></div>
    <div class="main-layout">

        <nav class="nav">
            <div class="nav-logo">
                <img src="../assets/logo.png" alt="">
                <span class="nav-logo-word-first">soft</span>
                <span class="nav-logo-word-second">group</span>
            </div>
            <p class="nav-text">
                High perfomance software development
            </p>
        </nav>

        <main class="items-section">
            <article class="large-item">
                <img src="../assets/img3.png" alt="">
                <div>
                    <h2>LARGER ITEM HEADING</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis debitis earum et excepturi facilis fuga fugiat fugit ipsa iure magnam minus molestiae perferendis, quaerat, rerum totam vero voluptas voluptatem!</p>
                </div>
                <button class="details-button" (click)="onOpen()">DETAILS</button>
            </article>
            <div class="splitter"></div>
            <div class="small-items-container">
                <article class="small-item">
                    <img src="../assets/img1.png" alt="">
                    <div>
                        <h2>SMALL ITEM</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <button class="details-button" (click)="onOpen()">DETAILS</button>
                </article>
                <article class="small-item">
                    <img src="../assets/img2.png" alt="">
                    <div>
                        <h2>SMALL ITEM</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <button class="details-button" (click)="onOpen()">DETAILS</button>
                </article>
            </div>
            <div class="splitter"></div>
            <article class="add-photo">
                <div class="blank-photo">
                    <span class="first-word">ADD</span>
                    <span class="second-word">PHOTO</span>
                </div>
                <div class="blank-photo">
                    <span class="first-word">ADD</span>
                    <span class="second-word">PHOTO</span>
                </div>
                <div class="blank-photo">
                    <span class="first-word">ADD</span>
                    <span class="second-word">PHOTO</span>
                </div>
            </article>
            <div class="splitter"></div>
            <article class="blog-post">
                <div>
                    <h2>BLOG POST TITLE ONE</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis debitis earum et excepturi facilis fuga fugiat fugit ipsa iure magnam minus molestiae perferendis, quaerat, rerum totam vero voluptas voluptatem!</p>
                </div>
                <button class="details-button" (click)="onOpen()">DETAILS</button>
            </article>
            <div class="splitter"></div>
            <article class="blog-post">
                <div>
                    <h2>BLOG POST TITLE TWO</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis debitis earum et excepturi facilis fuga fugiat fugit ipsa iure magnam minus molestiae perferendis, quaerat, rerum totam vero voluptas voluptatem!</p>
                </div>
                <button class="details-button" (click)="onOpen()">DETAILS</button>
            </article>
        </main>

        <footer>
            <div class="stay-connected">
                <span>STAY CONNECTED</span>
                <div class="social-networks">
                    <img src="../assets/social1.png" alt="" class="social-logo">
                    <img src="../assets/social2.png" alt="" class="social-logo">
                    <img src="../assets/social3.png" alt="" class="social-logo">
                    <img src="../assets/social4.png" alt="" class="social-logo">
                    <img src="../assets/social5.png" alt="" class="social-logo">
                    <img src="../assets/social6.png" alt="" class="social-logo">
                    <img src="../assets/social7.png" alt="" class="social-logo">
                    <img src="../assets/social8.png" alt="" class="social-logo">
                </div>
            </div>
            <div class="sitemap">
                <div class="sitemap-links">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, laborum unde. Animi aperiam architecto blanditiis, culpa deserunt dolores ea explicabo facilis iste molestias, necessitatibus optio perferendis quo repellat soluta? Dolorem!</p>
                    <div>
                        <ul>
                            <li><a href="">Quick Link One</a></li>
                            <li><a href="">Quick Link Two</a></li>
                            <li><a href="">Quick Link Three</a></li>
                            <li><a href="">Quick Link Four</a></li>
                        </ul>
                    </div>
                </div>
                <div class="splitter"></div>
                <div class="copyright">
                    <p class="copyright-first">Copyright 2015 <span>SoftGroup. </span>All Rights Reserved</p>
                    <p class="copyright-second"><a href="">View Online</a> | <a href="">Unsubscribe</a></p>
                </div>
            </div>
        </footer>

    </div>
    <div class="side-gap"></div>
    <app-modal (windowClosed)="onClose()" *ngIf="modalWindow">
    </app-modal>
</div>
